<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FF8C32"/>

  <title>Feast Heaven</title>
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
</head>
<body>
  <a href="#main-content" class="skip">Menuju ke konten</a>
  <header class="heading">
      <h1 class="head-title">Feast Heaven</h1>
      <button id="menu" class="head-menu">☰</button>
      <nav id="draw" class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="#/restaurant-item">Home</a></li> 
          <li class="nav-item"><a href="#/like">Favorit</a></li>
          <li class="nav-item"><a href="https://github.com/MochNovanRomadhon">About Us</a></li>
        </ul>
      </nav>
  </header>

  
  <section class="home">
    <picture>
      <source media="(max-width: 600px)" srcset="../../images/heros/hero-image_2.jpg">
      <img src="../../images/heros/hero-image_2.jpg" 
           alt="posterku">
    </picture>
    
    <article class="home-inner">
      <h1 class="home-title">Begin Your Culinary Adventure with Us!</h1>
      <p class="home-ket">
      We Help You Find the Best Restaurants
      </p>
    </article>
  </section>
  
  <main id="main-content" tabindex="0">
  </main>

  <footer>
    <a href="https://web.facebook.com/?_rdc=1&_rdr"> <i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
    <p>Feast Heaven 2023 | Tugas Dicoding Indonesia</p>
  </footer>
</body>
</html>